
    <div id="calendarFlex">
      <div id="flexContainer">
        <div class="box">
          <div class="navBox">
            <img class="arrow" src="../../../assets/images/arrowL24.png"  (click)="prevYear()">
          </div>
        </div>
        <div class="box">
          <input type="number" (keyup.enter)="changeYearToTypedYear()" class="navBox" value="{{currentYear}}" #yearInput>
        </div>
        <div class="box">
          <div class="navBox">
            <img class="arrow" src="../../../assets/images/arrowR24.png" (click)="nextYear()">
          </div>
        </div>
        <div class="box">
          <div class="dayBoxEmpty1">
          </div>
        </div>
        <div class="box">
          <div class="navBox">
            <img class="arrow" src="../../../assets/images/arrowL24.png"  (click)="prevMonth()">
          </div>
        </div>
        <div class="box">
          <div class="navBox">
            {{ 'CALENDAR.MONTHS.'+monthIndex | translate }}
          </div>
        </div>
        <div class="box">
          <div class="navBox">
            <img class="arrow" src="../../../assets/images/arrowR24.png" (click)="nextMonth()">
          </div>
        </div>
        <div class="box" *ngFor="let item of counter(7); let i = index; let last = last"  [class.last-item]="last">
          <div class="dayBoxName">
            {{ 'CALENDAR.WEEKDAYS.'+i | translate }}
          </div>
        </div>
        <div *ngFor="let in of counter(firstDay)" class="box">
          <div class="dayBoxEmpty">
          </div>
        </div>
        <div class="box" *ngFor="let day of daysInMonth">
          <div class="dayBox" id="currentDay" (click)="getClickedDayAndCreateFullDate(day);" *ngIf="appYearAndMonth==true && day == currentDate.getDate()" style="border: 4px solid #DA3A21; left: -2px; top: -2px;">
        {{day}}
          </div>
          <div class="taskWrapper" *ngIf="checkTasksForDay(day) >0 ? checkTasksForDay(day): null; let totalTaskNumber">
            <div class="taskHere">
              {{totalTaskNumber}}
            </div>
          </div>
          <div class="dayBox" (click)="getClickedDayAndCreateFullDate(day);" *ngIf="appYearAndMonth==false || day != currentDate.getDate()">
            {{day}}
          </div>
        </div>
      </div>
    </div>


