
    <div id="calendarFlex">
      <div id="flexContainer">
        <div class="box">
          <div class="navBox">
            <img class="arrow" src="../../../assets/images/arrowL24.png"  (click)="prevYear()">
          </div>
        </div>
        <div class="box">
          <div class="navBox">
            {{years[yearIndex]}}
          </div>
        </div>
        <div class="box">
          <div class="navBox">
            <img class="arrow" src="../../../assets/images/arrowR24.png" (click)="nextYear()">
          </div>
        </div>
        <div class="box">
          <div class="dayBoxEmpty1">
          </div>
        </div>
        <div class="box">
          <div class="navBox">
            <img class="arrow" src="../../../assets/images/arrowL24.png"  (click)="prevMonth()">
          </div>
        </div>
        <div class="box">
          <div class="navBox">
            {{ 'CALENDAR.MONTHS.'+monthIndex | translate }}
          </div>
        </div>
        <div class="box">
          <div class="navBox">
            <img class="arrow" src="../../../assets/images/arrowR24.png" (click)="nextMonth()">
          </div>
        </div>
        <div class="box" *ngFor="let item of counter(7); let i = index;">
          <div class="dayBoxName">
            {{ 'CALENDAR.WEEKDAYS.'+i | translate }}
          </div>
        </div>
        <div *ngFor="let in of counter(firstDay)" class="box">
          <div class="dayBoxEmpty">
          </div>
        </div>
        <div class="box" *ngFor="let day of daysInMonth">
          <div class="dayBox" (click)="getClickedDayAndCreateFullDate(day);" *ngIf="appYearAndMonth==true && day == currentDate.getDate()" style="border: 2px solid #DA3A21; left: 0px">
        {{day}}
          </div>
          <div class="taskHere" *ngIf="checkTasksForDay(day) >0 ? checkTasksForDay(day): null; let totalTaskNumber">{{totalTaskNumber}}</div>
          <div class="dayBox" (click)="getClickedDayAndCreateFullDate(day);" *ngIf="appYearAndMonth==false || day != currentDate.getDate()">
            {{day}}
          </div>
        </div>
      </div>
    </div>


