@import "../account.style";
@import '../../../../globalScssVariables';

.profile-wrapper
{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.profile {
  justify-content: center;
}

.user-data-wrapper {
  display: flex;
  border:1px solid black;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  justify-content: space-between;
  padding: 10px;
  position: relative;
  width: 70vw;
  height: 80vh;
}
.user-data-wrapper > *
{
  margin: 2rem 0;
}

.profile-image > *
{
  text-align: center;
}

.profile-form{
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  border: 1px solid gray;
  background-color: $content-color;
  padding: 2rem;
}

.imageButton
{
  margin: 0 5px;
}
.form-btn {
  margin-top: auto;
}
.profile-image img
{
  border: 1px solid black;
}
.familyInvitations
{
  margin-top: 5%;
  width: 60%;
  height: 30vh;
}
