<div class="container">
  <div class="profile-wrapper">
    <section class="profile">
      <div class="user-data-wrapper">
        <form [formGroup]="profileForm" class="profile-form profile-data">
            <mat-form-field class="form-field">
              <mat-label>{{ 'PROFILE.NAME' | translate }}</mat-label>
              <input required formControlName="name" matInput type="text">
            </mat-form-field>
            <mat-form-field class="form-field">
              <mat-label>{{ 'PROFILE.SURNAME' | translate }}</mat-label>
              <input required formControlName="surname" matInput type="text">
            </mat-form-field>
            <mat-form-field class="form-field">
              <mat-label>Email</mat-label>
              <input required formControlName="email" matInput type="email">
            </mat-form-field>
            <mat-form-field class="form-field">
              <mat-label>{{ 'PROFILE.PHONE' | translate }}</mat-label>
              <input required formControlName="phone" matInput type="text">
            </mat-form-field>
          <button (click)="updateProfileData(profileForm.value)"
                  [disabled]="!profileForm.valid" mat-raised-button class="form-btn" color="primary">
            {{ 'PROFILE.SAVE' | translate }}
          </button>
        </form>

        <form [formGroup]="passwordForm" class="profile-form password-form">
          <mat-form-field class="form-field">
            <mat-label>{{ 'PROFILE.OLDPASSWORD' | translate }}</mat-label>
            <input formControlName="old_password" required matInput type="password">
            <mat-error *ngIf="passwordForm.controls['old_password'].hasError('required')">
              Field required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="custom-mat-field">
            <mat-label>{{ 'PROFILE.PASSWORD' | translate }}</mat-label>
            <input required matInput formControlName="password" type="password">
            <mat-error [ngClass]="passwordForm.controls['password'].hasError('required') || passwordForm.controls['password'].hasError('minlength')  ? '' : 'text-success'">
              <i class="material-icons">{{ passwordForm.controls['password'].hasError('required') ||
                passwordForm.controls['password'].hasError('minlength') ? 'cancel' :
                'check_circle' }}</i>
              At least 8 characters!
            </mat-error>
            <mat-error [ngClass]="passwordForm.controls['password'].hasError('required') || passwordForm.controls['password'].hasError('hasNumber')  ? '' : 'text-success'">
              <i class="material-icons">{{ passwordForm.controls['password'].hasError('required') ||
                passwordForm.controls['password'].hasError('hasNumber') ? 'cancel' :
                'check_circle' }}</i>
              At least 1 number!
            </mat-error>
            <mat-error [ngClass]="passwordForm.controls['password'].hasError('required') || passwordForm.controls['password'].hasError('hasCapitalCase')  ? '' : 'text-success'">
              <i class="material-icons">{{ passwordForm.controls['password'].hasError('required') ||
                passwordForm.controls['password'].hasError('hasCapitalCase') ? 'cancel' :
                'check_circle' }}</i>
              At least 1 in Capital Case!
            </mat-error>
            <mat-error [ngClass]="passwordForm.controls['password'].hasError('required') || passwordForm.controls['password'].hasError('hasSmallCase')  ? '' : 'text-success'">
              <i class="material-icons">{{ passwordForm.controls['password'].hasError('required') ||
                passwordForm.controls['password'].hasError('hasSmallCase') ? 'cancel' :
                'check_circle' }}</i>
              At least 1 in Small Case!
            </mat-error>
          </mat-form-field>
          <mat-form-field class="form-field">
            <mat-label>{{ 'PROFILE.RPASSWORD' | translate }}</mat-label>
            <input formControlName="password2" required matInput type="password">
            <mat-error *ngIf="passwordForm.controls['password2'].hasError('required')">
              Field required
            </mat-error>
            <mat-error *ngIf="passwordForm.controls['password2'].hasError('NoPasswordMatch')">
              Passwords do not match
            </mat-error>
          </mat-form-field>
          <button (click)="changePassword(passwordForm.value)"
                  [disabled]="!passwordForm.valid" class="form-btn"
                  mat-raised-button color="primary">
            {{ 'PROFILE.PASSWORDCHANGE' | translate }}
          </button>
        </form>
      </div>
    </section>
    <section class="profile-family">
    </section>
    <section class="familyInvitations">
        <app-list-invitation-table *ngIf="viewForFamily == false" [familyView]="viewForFamily" [tableData]="tableData"
                                   #myChild (selectedRow)="selectedRow($event)"
                                   [columnHeader]=" 'LIST_INVITATIONS.COLUMN_HEADER_PROFILE' | translate "></app-list-invitation-table>
    </section>
  </div>
</div>





