@import "../account.style";
@import '../../../../globalScssVariables';

.profile-wrapper
{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.profile {
  justify-content: center;
}

.user-data-wrapper {
  display: flex;
  justify-content: center;
}

.profile-form{
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 15px;
  border: 1px solid gray;
  background-color: $content-color;
  padding: 1.5rem;
}


.form-btn {
  margin-top: auto;
}

.familyInvitations
{
  width: 60%;
  height: 30vh;
}
