@import '../../../../globalScssVariables';



#myTable::-webkit-scrollbar{

  background:$content-color;


}
//////////////////
// MAIN TABLE STYLE
#myTable {
  border: 1px solid $black;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}

#myTableContent {
  background: $content-color;
  width: 100%;
}

#myTableBackground {
  position: absolute;
  width: 100%;
  height: 101%; //always do overflow
  background: $table-gray;
}

table {
  width: 100%;
  table-layout: fixed;
}
//ROWS HEADER AND CELLS PROPERTIES
//////////////////////
::ng-deep .mat-row::ng-deep
{
text-align: center !important;
  color: $black;
}
.mat-row td {
   position: relative;

 }

.mat-row:hover{
  font-weight: bold;
  cursor: pointer;
}
.mat-row button
{
margin: 10px;
}
::ng-deep th.mat-header-cell::ng-deep
{
  text-align: center !important; //CENTER TEXT FOR NON SORT HEADER
  background: $nav-color !important;
  color: $content-color !important;
  font-size: 1rem !important;
}

// SCROLLBAR
#myTable::-webkit-scrollbar-thumb {
  background: $nav-color;
}
