<nav class="navbar">
  <div class="container">
    <div class="nav-items">
      <a class="nav-item" routerLink="members" routerLinkActive='active'>{{ 'MY_FAMILY.NAV_MEMBERS' | translate }}</a>
      <a class="nav-item" routerLink="tasks" routerLinkActive='active'>{{ 'MY_FAMILY.NAV_TASKS' | translate }}</a>
      <a class="nav-item" routerLink="invitations"
         routerLinkActive='active'>{{ 'MY_FAMILY.NAV_INVITATIONS' | translate }}</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

