@import '../../../globalScssVariables';
.navbar {
  overflow: hidden;
  background-color: $nav-color;
  position: relative;
  font-size: 18px;
  color: $content-color;
  a:link{
    color: $content-color;
  }
  a:visited {
    color: $content-color;
  }

}
.nav-items{
  display: flex;
  position: relative;
  float: left;
}

.nav-item{
  padding: 10px 15px 9px 15px;
  text-decoration: none;
  text-align: center;
}
.nav-item:hover{
  transition: all 1s ease;
  background-color: black;
}

.create-family {
  display: flex;
  flex-direction: column;

  margin-top: 50px;
}

.family-create-content {
  background-color: $content-color;
  min-width: 200px;
  width: auto;
  max-width: 500px;

  margin: auto;
  padding-bottom: 15px;

  border-radius: 15px;
  border: 1px solid gray;

  text-align: center;
  align-content: center;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(163, 163, 163, 1);
  -moz-box-shadow: 0px 0px 15px 0px rgba(163, 163, 163, 1);
  box-shadow: 0px 0px 15px 0px rgba(163, 163, 163, 1);
}

.family-create-container {
  margin: 1rem;
}

.family-data{
  //margin: 1rem;
}

.address-data {
  //margin: 1rem;
}

.form-field {
  margin-right: .75rem;
}
