<section class="account">
  <div class="account-container">
    <div class="account-form">
      <h4>Password reset</h4>
      <mat-form-field class="form-field">
        <mat-label>Email</mat-label>
        <input [(ngModel)]="email" type="email" matInput>
      </mat-form-field>
      <br>
      <button (click)="resetPassword()" style="margin-right: 5px" mat-raised-button color="primary">Reset</button>
    </div>
    <span class="subscript">Don't have an account?
      <a class="url_rm_visited" routerLink="/register" routerLinkActive='active'>Register</a>
    </span>
  </div>
</section>
