@import '../../../globalScssVariables';
.navbar {
  overflow: hidden;
  background-color: $nav-color;
  position: relative;
  font-size: 18px;
  color: $content-color;
  a:link{
    color: $content-color;
  }
  a:visited {
    color: $content-color;
  }

}

.nav-items{
  display: flex;
  position: relative;
  float: left;
}

.nav-item{
  padding: 10px 15px 9px 15px;
  text-decoration: none;
  text-align: center;
}
.nav-item:hover{
  transition: all 1s ease;
  background-color: black;
}

