<section class="account">
  <div class="account-container">
    <h4>{{ 'PROFILE.REGISTER' | translate }}</h4>
    <div class="account-content">
      <form [formGroup]="registerForm" class="account-form">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input required matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                 formControlName="email" placeholder="Ex. pat@example.com">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="custom-mat-field">
          <mat-label>{{ 'PROFILE.PASSWORD' | translate }}</mat-label>
          <input required matInput formControlName="password" type="password">
          <mat-error [ngClass]="registerForm.controls['password'].hasError('required') || registerForm.controls['password'].hasError('minlength')  ? '' : 'text-success'">
            <i class="material-icons">{{ registerForm.controls['password'].hasError('required') ||
              registerForm.controls['password'].hasError('minlength') ? 'cancel' :
              'check_circle' }}</i>
            At least 8 characters!
          </mat-error>
          <mat-error [ngClass]="registerForm.controls['password'].hasError('required') || registerForm.controls['password'].hasError('hasNumber')  ? '' : 'text-success'">
            <i class="material-icons">{{ registerForm.controls['password'].hasError('required') ||
              registerForm.controls['password'].hasError('hasNumber') ? 'cancel' :
              'check_circle' }}</i>
            At least 1 number!
          </mat-error>
          <mat-error [ngClass]="registerForm.controls['password'].hasError('required') || registerForm.controls['password'].hasError('hasCapitalCase')  ? '' : 'text-success'">
            <i class="material-icons">{{ registerForm.controls['password'].hasError('required') ||
              registerForm.controls['password'].hasError('hasCapitalCase') ? 'cancel' :
              'check_circle' }}</i>
            At least 1 in Capital Case!
          </mat-error>
          <mat-error [ngClass]="registerForm.controls['password'].hasError('required') || registerForm.controls['password'].hasError('hasSmallCase')  ? '' : 'text-success'">
            <i class="material-icons">{{ registerForm.controls['password'].hasError('required') ||
              registerForm.controls['password'].hasError('hasSmallCase') ? 'cancel' :
              'check_circle' }}</i>
            At least 1 Letter in Small Case!
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>{{ 'PROFILE.RPASSWORD' | translate }}</mat-label>
          <input required formControlName="password2" type="password" matInput>
        </mat-form-field>
      </form>

      <form [formGroup]="profileForm" class="profile-form">
        <mat-form-field>
          <mat-label>{{ 'PROFILE.NAME' | translate }}</mat-label>
          <input required formControlName="name" matInput>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>{{ 'PROFILE.SURNAME' | translate }}</mat-label>
          <input required formControlName="surname" matInput>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>{{ 'PROFILE.PHONE' | translate }}</mat-label>
          <input required formControlName="phone" matInput>
        </mat-form-field>
      </form>
    </div>

    <button (click)="registerUser(registerForm.value, profileForm.value)"
            mat-raised-button color="primary" [disabled]="!registerForm.valid && !profileForm.valid">
      {{ 'PROFILE.REGISTER' | translate }}
    </button>
    <br>
    <div class="subscript">
      <span>{{ 'PROFILE.ALREADYHAVEACC' | translate }} <a class="url_rm_visited" routerLink="/account/login" routerLinkActive='active'>{{ 'PROFILE.LOGIN' | translate }}</a></span>
    </div>
  </div>
</section>



