<section class="account">
  <div class="account-container">
    <div class="account-form">
      <h4>Password reset</h4>
      <mat-form-field class="form-field">
        <mat-label>Password</mat-label>
        <input [(ngModel)]="password" type="email" matInput>
      </mat-form-field>
      <br>
      <mat-form-field class="form-field">
        <mat-label>Repeat password</mat-label>
        <input [(ngModel)]="password2" type="email" matInput>
      </mat-form-field>
      <br>
      <button (click)="savePassword()" style="margin-right: 5px" mat-raised-button color="primary">Save</button>
    </div>
  </div>
</section>
