@import '../globalScssVariables';

body{
  margin: 0;
  padding: 0;
}

.navbar {
  overflow: hidden;
  background-color: $nav-color;
  position: relative;
  font-size: 18px;
  color: $content-color;
  a:link{
    color: $content-color;
  }
  a:visited {
    color: $content-color;
  }

}


:not(.nav-account) > .nav-item:last-of-type
{
    margin-right: auto;
}

.nav-account {
  margin-right: 5px;
}

.nav-items{
  justify-content: flex-end;
  align-items: center;
  display: flex;
  position: relative;
}
.nav-item{
  padding: 10px 15px;
  text-decoration: none;
  text-align: center;
}

#searchInput
{
  position: relative;
  padding: 0;
  height: 70%;
  font-size: 16px;
  background: white;
  color: black;
}

.nav-item:hover{
  transition: all 1.5s ease;
  background-color: black;
}
/*---------------------
  Main Container
-----------------------*/

.container {
  width: 70%;
  position: relative;
  //background-color: gray;
  margin: 0 auto;
}

.content {
  position: relative;
  min-height: 600px;
  //background-color: $content-color;
  //border-radius: 25px;
  padding: 10px;
}










