<nav class="navbar">
  <div class="container">
    <div   class="nav-items">
      <a class="nav-item" routerLink="" routerLinkActive='active'>{{ 'NAV.HOME' | translate }}</a>
      <a class="nav-item" routerLink="/families" routerLinkActive='active'>List families</a>
      <a class="nav-item" routerLink="/calendar" routerLinkActive='active'>{{ 'NAV.CALENDAR' | translate }}</a>
          <span class="nav-item"><select  #langSelect (change)="translate.use(langSelect.value)">
            <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">
              {{ lang }}
            </option>
          </select></span>
    </div>

    <div class="nav-account">
      <div *ngIf="!authService.isTokenExpired(); then authorizedBlock; else anonymousBlock"></div>
      <ng-template #authorizedBlock>
        <a class="nav-item" routerLink="/account/profile" routerLinkActive='active'>{{ 'NAV.PROFILE' | translate }}</a>
        <a class="nav-item" routerLink="" (click)="authService.logout()">{{ 'NAV.LOGOUT' | translate }}</a>
      </ng-template>
      <ng-template #anonymousBlock>
        <a class="nav-item" routerLink="/account/login" routerLinkActive='active'>{{ 'NAV.LOGIN' | translate }}</a>
        <a class="nav-item" routerLink="/register" routerLinkActive='active'>{{ 'NAV.REGISTER' | translate }}</a>
      </ng-template>
    </div>
  </div>
</nav>

<div class="container">
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</div>


<!-- Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed bsy an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->



