$brick:#DA3A21;
$skin:#fecea2;
$salmon:#EEA062;
$lavenderpink:#DBB4A0;
$blue: #339CC9;
$eggplant:#4A323C;
$black:#0E0B14;
$nav-color: #35375d;
$content-color: #F8F4F6;
$bg-color: #FADDD1;

body{
  margin: 0;
  padding: 0;
  background-color: $bg-color;
}


