@import '../../../../globalScssVariables';


#filtrInput ::ng-deep .mat-form-field-underline .mat-form-field-ripple, #filtrInput ::ng-deep .mat-form-field-underline, #myTable::-webkit-scrollbar{

  background:$content-color;


}
//FILTER
#filtrInput
{
  border-radius: 5%;
  background:$skin;
  color: $black;
  left:35%;
  padding: 5px;
  top:10%;
  position: absolute;
  width: 200px;

}

input ::ng-deep{
  font-size: 30px;
  background: $content-color;
}
//////////////////
// MAIN TABLE STYLE
#myTable {
  border: 1px solid $black;
  position: absolute;
  left: 20%;
  top:30%;
  width: 70%;
  height: 60%;
  overflow-y: scroll;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}

#myTableContent {
  background: $skin;
  width: 100%;
}

#myTableBackground {
  position: absolute;
  width: 100%;
  height: 101%; //always do overflow
  background: $skin;
}
table {
  width: 100%;
  table-layout: fixed;
}

//////////////////////////
// EXPANDABLE ROW PROPERTIES

tr.example-detail-row {
  height: 0;
  background: $lavenderpink;
}
.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  padding: 8px;
}



//ROWS HEADER AND CELLS PROPERTIES
//////////////////////

::ng-deep .mat-sort-header-container { //CENTER TEXT IN HEADER FOR SORTED HEADER
  display:flex;
  justify-content:center;
}
::ng-deep .mat-row::ng-deep //CENTER TEXT IN TD
{
  color: $black;
  text-align: center;
}
.mat-row:hover{
  font-weight: bold;
  cursor: pointer;
}
::ng-deep th.mat-header-cell::ng-deep
{

  background: $brick !important;
  color: $content-color !important;
  font-size: 1rem !important;
}
th.mat-sort-header-sorted::ng-deep,::ng-deep .mat-sort-header-sorted {
  color: $blue;

}

// SCROLLBAR
#myTable::-webkit-scrollbar-thumb {
  background: $brick;
}



